.cpcache
.nrepl-port
target
repl
scratch.clj
.shadow-cljs
target
yarn.lock
node_modules/
.DS_Store
resources/public/ui
.store
store/
out
.#*
.clj-kondo/.cache
test.log
.classpath
.settings
.project
resources/bookmarks.json
resources/urls.txt
