{:paths ["src/clj" "resources" "target/classes"]

 :deps
 {
  org.clojure/clojure            {:mvn/version "1.10.3"}
  org.clojure/core.async         {:mvn/version "1.3.610"}
  org.clojure/core.cache         {:mvn/version "1.0.217"}
  org.clojure/core.match         {:mvn/version "1.0.0"} ;currently not used
  org.clojure/data.priority-map  {:mvn/version "1.0.0"}
  org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
  org.clojure/java.jmx           {:mvn/version "1.0.0"} ;currently not used
  it.unimi.dsi/dsiutils          {:mvn/version "2.6.17"}
  it.unimi.dsi/fastutil          {:mvn/version "8.5.4"}

  ;; url normalization
  lambdaisland/uri       {:mvn/version "1.4.54"}

  ;; serialization
  com.taoensso/nippy     {:mvn/version "3.1.1"}

  ;; logging
  io.pedestal/pedestal.log       {:mvn/version "0.5.7"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

  ;; resource fetching
  dnsjava/dnsjava        {:mvn/version "3.3.1"}
  clj-http/clj-http      {:mvn/version "3.12.3"}

  ;; to tweak logging for clj-http
  org.apache.logging.log4j/log4j-api {:mvn/version "2.11.0"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.11.0"}
  org.apache.logging.log4j/log4j-1.2-api {:mvn/version "2.11.0"}

  ;; html parsing
  net.htmlparser.jericho/jericho-html {:mvn/version "3.4"}
  org.jsoup/jsoup                     {:mvn/version "1.13.1"}

  ;; cache implementation
  commons-codec/commons-codec {:mvn/version "1.15"}
  ramper.util/dll             {:local/root "jars/dll-1.0-SNAPSHOT.jar"}

  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.12.994"}
                #_{:git/url "https://github.com/clojure/tools.deps.alpha.git"
                   :sha "d77476f3d5f624249462e275ae62d26da89f320b"}
                com.taoensso/tufte {:mvn/version "2.2.0"}
                fiv0/kusonga {:mvn/version "0.1.0"}
                ;; only for testing concurrent queue types
                com.manigfeald/queue {:git/url "https://github.com/hiredman/queue.git"
                                      :sha "791e0f0464b09b2a33121fafa958613e735cccc0"}

                ;; only for murmur3 testing for now
                it.unimi.dsi/sux4j     {:mvn/version "5.2.3"}
                com.google.guava/guava {:mvn/version "30.1.1-jre"}

                ;; for http client testinghato.client
                hato/hato {:mvn/version "0.8.2"}
                http-kit/http-kit {:mvn/version "2.5.3"}

                ;; only for a repl sessions
                cheshire/cheshire {:mvn/version "5.10.0"}}
   :jvm-opts ["-Xverify:none"
              "-Xss512k" ;; stack size
              "-Xms20g"   ;; initial memory allocation pool
              "-XX:+UseNUMA"
              "-Djavax.net.ssl.sessionCacheSize=8192"
              "-XX:+UseTLAB"
              "-XX:+ResizeTLAB"
              "-XX:NewRatio=4"
              "-XX:MaxTenuringThreshold=15"
              "-XX:+CMSParallelRemarkEnabled"
              ;; "-verbose:gc"
              ;; "-Xlog:gc:gc.log"
              ;; "-Xlog:gc*"
              "-XX:+PrintSafepointStatistics"
              "-XX:PrintSafepointStatisticsCount=1"
              ;; "-Djava.net.preferIPv4Stack=true"
              ;; "-Dlogback.configurationFile=resources/logback.xml" add to readme
              ;; "-Djava.rmi.server.hostname=127.0.0.1"
              ]}

  :test
  {:extra-paths ["test/clj"]
   :extra-deps  {nubank/matcher-combinators           {:mvn/version "3.3.1"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.4.0"
                                                       :git/sha "8c3f22363d63715de4087b038d79ae0de36a3263"}}
   :exec-fn cognitect.test-runner.api/test}

  :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.1.4"
                                                      :git/sha "169fef9"}}
          :ns-default build}}

 :mvn/repos
 {"central"        {:url "https://repo1.maven.org/maven2/"}
  "clojars"        {:url "https://clojars.org/repo"}}}
