{:paths ["src" "resources"]

 :deps
 {
  org.clojure/clojure    {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.clojure/core.cache {:mvn/version "1.0.207"}
  org.clojure/data.priority-map {:mvn/version "1.0.0"}
  org.clojure/java.jmx   {:mvn/version "1.0.0"}
  it.unimi.dsi/dsiutils  {:mvn/version "2.6.17"}
  it.unimi.dsi/fastutil  {:mvn/version "8.5.4"}

  ;; url normalization
  lambdaisland/uri       {:mvn/version "1.4.54"}

  ;; serialization
  com.taoensso/nippy     {:mvn/version "3.1.1"}

  ;; logging
  io.pedestal/pedestal.log       {:mvn/version "0.5.7"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

  ;; resource fetching
  dnsjava/dnsjava        {:mvn/version "3.3.1"}
  clj-http/clj-http      {:mvn/version "3.12.0"}

  ;; html parsing
  net.htmlparser.jericho/jericho-html {:mvn/version "3.4"}
  org.jsoup/jsoup                     {:mvn/version "1.13.1"}

  ;; cache implementation
  commons-codec/commons-codec {:mvn/version "1.15"}
  ramper.util/dll             {:local/root "/home/fv/Code/Java/dll/target/dll-1.0-SNAPSHOT.jar"}

  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                                              :sha "d77476f3d5f624249462e275ae62d26da89f320b"}
                com.taoensso/tufte {:mvn/version "2.2.0"}}
   :jvm-opts ["-Xverify:none"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}}

 :mvn/repos
 {"central"        {:url "https://repo1.maven.org/maven2/"}
  "clojars"        {:url "https://clojars.org/repo"}}}
