{:lint-as {taoensso.nippy/extend-freeze clojure.core/extend-type
           taoensso.nippy/extend-thaw clojure.core/extend-type}
 :output {:exclude-files []}
 :skip-args []
 :skip-comments true
 :linters {:consistent-alias {:aliases {datomic.api datomic
                                        io.pedestal.log log
                                        clojure.string str
                                        clojure.spec.alpha s}}
           :unresolved-symbol {:exclude [(clojure.core.match/match)]}
           :unused-namespace {:exclude [io.pedestal.log]}}}
